{%- assign author = site.data.authors[include.author] -%}
{%- assign img_size = include.img_size | default: 32 -%}
<span class="p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
  {% capture avatar_filename %}avatar-{{ include.author }}.jpg{% endcapture -%}
  {%- unless assets[avatar_filename] -%}
    {%- assign avatar_filename = 'placeholder-avatar.svg' -%}
  {%- endunless -%}
  {% if assets[avatar_filename].content_type == "image/svg+xml" %}
    {%- asset '{{ avatar_filename }}'
      height="{{ img_size }}" width="{{ img_size }}"
      style="margin-right: {{ img_size | times: 0.15 }}px"
      alt="Profile picture" class="author-avatar u-photo" %}
  {% else %}
    {%- asset '{{ avatar_filename }}'
      srcset:width="{{ img_size | times: 3 }} 3x"
      srcset:width="{{ img_size | times: 2 }} 2x"
      srcset:width="{{ img_size }} 1x"
      height="{{ img_size }}" width="{{ img_size }}"
      style="margin-right: {{ img_size | times: 0.15 }}px"
      alt="Profile picture" class="author-avatar u-photo" %}
  {% endif %}
  <span itemprop="name">{{ author.name }}</span>
</span>
