<ul class="social-media-list">
  {%- if site.dribbble_username -%}
    <li><a title="Dribbble" href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}">
      <i class="fab fa-dribble"></i>
      <span class="username">{{ site.dribbble_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.facebook_username -%}
    <li><a title="Facebook" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
      <i class="fab fa-facebook"></i>
      <span class="username">{{ site.facebook_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.flickr_username -%}
    <li><a title="Flickr" href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}">
      <i class="fab fa-flickr"></i>
      <span class="username">{{ site.flickr_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.instagram_username -%}
    <li><a title="Instagram" href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
      <i class="fab fa-instagram"></i>
      <span class="username">{{ site.instagram_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.linkedin_username -%}
    <li><a title="LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
      <i class="fab fa-linkedin"></i>
      <span class="username">{{ site.linkedin_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.pinterest_username -%}
    <li><a title="Pinterest" href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}">
      <i class="fab fa-pinterest"></i>
      <span class="username">{{ site.pinterest_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.twitter_username -%}
    <li><a title="Twitter" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <i class="fab fa-twitter"></i>
      <span class="username">{{ site.twitter_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.youtube_username -%}
    <li><a title="YouTube" href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
      <i class="fab fa-youtube"></i>
      <span class="username">{{ site.youtube_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.youtube_channel_id -%}
    <li><a title="YouTube" href="https://youtube.com/channel/{{ site.youtube_channel_id| cgi_escape | escape }}">
      <i class="fab fa-youtube"></i>
      <span>YouTube</span>
    </a></li>
  {%- endif -%}
  {%- if site.googleplus_username -%}
    <li><a title="Google+" href="https://plus.google.com/{{ site.googleplus_username| escape }}">
      <i class="fab fa-google-plus"></i>
      <span class="username">{{ site.googleplus_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.github_username -%}
    <li><a title="GitHub" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      <i class="fab fa-github"></i>
      <span class="username">{{ site.github_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.gitlab_username -%}
    <li><a title="GitLab" href="https://gitlab.com/{{ site.gitlab_username| cgi_escape | escape }}">
      <i class="fab fa-gitlab"></i>
      <span class="username">{{ site.gitlab_username| escape }}</span>
    </a></li>
  {%- endif -%}
  {%- if site.feedburner -%}
    <li><a title="RSS" href="http://feeds.feedburner.com/{{ site.feedburner }}">
      <i class="fas fa-rss"></i>
      <span>RSS</span>
    </a></li>
  {%- endif -%}
</ul>
