---
layout: content
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
    <ul class="list-group post-list mb-2">
      {%- for post in site.posts -%}
      <li class="list-group-item flex-column align-items-start">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3 class="mb-1 h4 d-flex w-100 justify-content-between">
          <a class="post-link pr-2" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <small class="text-right">
            {{ post.date | date: date_format }}
          </small>
        </h3>
        {%- if site.show_excerpts -%}
          <p class="mb-1 ml-3 text-muted">{{ post.description | default: post.excerpt | strip_html | strip_newlines | truncatewords: 32 }}</p>
        {%- endif -%}
        <div class="post-footer">
          {%- if post.author -%}
            {% include author-inline.html author=post.author img_size=24 %}
          {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="http://feeds.feedburner.com/{{ site.feedburner }}">via RSS</a> or <a href="https://feedburner.google.com/fb/a/mailverify?uri={{ site.feedburner }}&loc=en_US">via email</a></p>
  {%- endif -%}

</div>
